<html>
<!-- name later -->
	<head>
		<title> Lucid_6f00ff - Default </title>
        <link rel="shortcut icon" href="images/Alone_2.png"/>
        <link rel="stylesheet" href="css/main.css">
	</head>

<!-- webpage links -->
	<body> 
		<nav>
			<a href="index.html">Home</a>
			<a href="projects.html">Projects</a>
			<a href="about.html">About</a>
        </nav>
<!-- background image -->
<style>
	body {
	background-image: url(images/website_background.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	}
</style>
<!-- text -->
		<p style="background-image: url('/images/website_background.png');">
			hi :) <br>
		</p>

        <div id="center">
			<a href="projects.html"style="text-decoration:none">back</a>
		</div> 
	</body>
</html>